/* Hint Image Css */
.page-body .hintImage {
	background-image: linear-gradient(160deg, #0093E9 0%, #0021ad 100%);
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 3px;
    width: 42px;
    position: fixed;
    right: 0px;
    bottom: 38%;
    z-index: 99999;
    font: normal normal 10px Arial;
    transition: all .25s ease;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    border: 2px solid #0093E9;
    border-radius: 50px;
    transition: all .2s ease-in-out;
}
.page-body .hintImage img{
	transition-duration: 0.5s;
}
.page-body .hintImage img:hover{
	transform:rotate(360deg)
}


.hintImage .textHint {
	color: #fff !important;
	text-align: center;
	/*   line-height: 43px!important; */
	/*   vertical-align: top!important; */
	cursor: pointer;
	display:none;
}

.page-body .hintImage:hover {
	    right: 0%;
    transform: scale(1);
    /* width: 14%; */
    /* transition: width 2s; */
    width: 11%;
    transition: width 0.9s ease-in-out;
}


.hintImage:hover .textHint{
	display:block;
}
/* Hint Image Css */






/* CustomTooltip Css */

.customTooltip .introjs-tooltip-title {
	color: #ffff !important;
    margin-left: -21px !important;
    width: 115%;
    margin-top: -10px;
}

.customTooltip .introjs-tooltip-header {
/* 	background: #2667A9;  */
    border-radius: 2px;
    width: 101%;
    height: 48%;

}

.customTooltip introjs-skipbutton {
	top: -4px !important;
	right: -4px !important;
	font-weight: 500 !important;
}

.customTooltip .introjs-tooltiptext {
/* 	font-size: inherit; */
/* 	padding: 34px; */
	border-top: 2px solid #000;
    margin-top: 7px;
    margin-left: -3px;
    box-shadow: 2px -6px 14px -8px rgb(0 0 0);
    border-radius: 4px;
    width: 102%;
    background: #195190FF;
    color: white;
    height: 51%;;
    text-align: left;
}

.customTooltip .introjs-nextbutton {
	border: 2px solid #fff !important;
    color: white !important;
    text-shadow: none !important;
    text-shadow: none !important;
    position: absolute !important;
    top: 84% !important;
    left: 76% !important;
    background: inherit !important;
}

.customTooltip .introjs-prevbutton {
	border: 2px solid #fff !important;
    color: #fff !important;
    text-shadow: none !important;
    position: absolute !important;
    left: 46% !important;
    top: 84% !important;
    background: inherit;
}

 .customTooltip .introjs-bullets {
 
 display:none !important;
 }

.customTooltip .introjs-tooltiptext .homeText{
	color:#ffff !important;
}
.customTooltip .introjs-tooltip-title .imageText{
	color:#ffff !important;
	position: absolute !important;
    right: 0 !important;
    top: 22% !important;
    font-size: 11px !important;
    font-family: 'Avenir Next' !important;
}
 .customTooltip .introjs-tooltip-title .imageTextBottom{
   color: #195190FF !important;
    position: absolute !important;
    right: 0 !important;
    top: 54% !important;
    font-size: 11px !important;
    font-family: 'Avenir Next' !important;
 
 }
 .customTooltip .introjs-button:hover{
  background-color:inherit !important;
 }


.customTooltip .introjs-tooltipbuttons {
	border-top: none !important;
/* 	display: none !important; */
}

/* .customTooltip .introjs-tooltip-header { */
/* 	display: none !important; */
/* } */

/* .customTooltip .introjs-tooltipbuttons{ */
/* 	display: none !important; */
/* } */
.customTooltip {
	line-height: 17px !important;
    width: 320px !important;
    background: #fff !important;
    border-radius: 6px !important;
    padding: 3px !important;
    text-align: center !important;
    /* color: #000; */
    height: 370px !important;
}

 .customTooltip .introjs-skipbutton{
 
    top: -6% !important;
    right: -11px !important;
    color:#000 !important;
 
 }
  .customTooltip .introjs-tooltip-title .calenderText{
   color: #195190FF !important;
    position: absolute !important;
    right: 13px !important;
    top: 70% !important;
    font-size: 11px !important;
    font-family: 'Avenir Next' !important;
 
 }
 
 .customTooltip .introjs-tooltip-title .mainCardsText{
   color: #195190FF !important;
    position: absolute !important;
    right: 13px !important;
    top: 66% !important;
    font-size: 11px !important;
    font-family: 'Avenir Next' !important;
 
 }
 .customTooltip .introjs-tooltip-title .helpIconText{
   color: #195190FF !important;
    position: absolute !important;
    right: 6px !important;
    top: 71% !important;
    font-size: 11px !important;
    font-family: 'Avenir Next' !important;
 
 }
  .customTooltip .introjs-tooltip-title .profileIconText{
   color: #195190FF !important;
    position: absolute !important;
    right: 6px !important;
    top: 84% !important;
    font-size: 11px !important;
    font-family: 'Avenir Next' !important;
 
}
.customTooltip .introjs-tooltip-title .settingIconText{
	color: #195190FF !important;
    position: absolute !important;
    right: 16% !important;
    top: 65% !important;
    font-size: 11px !important;
    font-family: 'Avenir Next' !important;
}